// Sticky Menu Block

.glacial-sticky-menu {
	position: sticky;
	display: block;
	color: #fff;
	padding: 2em 1em;
	width: 100%;
	top: 1px;
	z-index: 2;

	&.alignwide, &.alignfull {
		position: sticky;
	}

	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		li {
			list-style: none;
		}

		a {
			text-decoration: none;
			min-width: 250px;
			text-align: center;
		}

		a.sticky-menu-custom {
			transition: 0.2s;
			padding: 20px 50px;
			display: block;

		}

	}

	.inner-blocks {
		margin-top: 1em;
	}

	&.shadow {
		box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.44);
	}
}
