// Sticky Menu Block

html {
	scroll-behavior: smooth;
}

.anchor-link {
	top: -148px;
	display: block;
	position: relative;
	visibility: hidden;
}

.glacial-sticky-menu {
	position: sticky;
	display: block;
	color: #fff;
	padding: 2em 1em;
	width: 100%;
	top: 1px;
	z-index: 102;

	&.alignwide, &.alignfull {
		position: sticky;
	}

	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 0 auto!important;
		padding: 0;

		li {
			list-style: none;
		}

		a.sticky-menu-custom {
			text-decoration: none;
			min-width: 150px;
			text-align: center;
			margin-bottom: 0;
		}

		a.sticky-menu-custom {
			transition: 0.2s;
			padding: 5px 20px;
			display: block;
			margin-bottom: 10px;

		}

	}

	.inner-blocks {
		margin-top: 1em;
	}

	&.shadow {
		box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.44);
	}
}
